<<<<<<< HEAD
body{font-family: 'Roboto Condensed', sans-serif;
margin: 0;}
h1{font-size: 50px;}
h2{
    font-size: 40px;
}
.gold-highlight{color: gold;}
h3{color:black;}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.Top-banner{
    background-image: url(images/top-banner.png);
background-repeat: no-repeat;}
section{
    height: 500px;
    padding-bottom: 70px;
}
.link-button{
    text-decoration: none;
  background-image: linear-gradient(salmon, tomato);
    padding: 10px;
    border-radius: 5%;
    color: white;
}
.Dream-Area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    background-color: white;
    
}
.experince-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#front-end{
    border-left:7px solid;
    border-image:linear-gradient( 180deg, salmon, tomato);
     border-image-slice:1;
}
#baby-front{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice:1;
}
footer{
    text-align: center;
    font-size: 12px;
}
=======
body{font-family: 'Roboto Condensed', sans-serif;}
h1{font-size: 50px;}
.name-highlight{color: gold;}
h3{color:black;}
.half-width{width: 40%;float: left; margin-left: 5%;padding-left: 2%;}
.half-width img{
    width: 100%;
}
>>>>>>> 98bbe0100b60f7cb5b6c18b51eceb08c37db8104
